<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ski Mountains</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <a href="/login">Login/Out</a>
  <a href="/login/new">create new user</a>
  <h1>Ski Mountains</h1>
  <nav>
    <a href="">Home</a>
    <a href="">Search</a>
    <a href="">Recent posts</a>
    <a href="">Make a post</a>
    <a href="">Profile</a>
  </nav>
  <%= yield %>

</body>
</html>
