<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ski mountains</title>
</head>
<body>
  <nav class="login-box">
    <h2>Log in</h2>
    <form class="login-form" action="/login" method="post">
      <input placeholder="Email" type="text" name="email">
      <input placeholder="Password" type="password" name="password">
      <button>Log in</button>
    </form>

    <a href="/login/new">Create new user</a>
</nav>
</body>
</html>