* {
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
}

body {
  background-image: url(images/MT-BG-1920x960.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}



/* vv Login pages vv */

.login-box {
  border: .3rem solid black;
  margin: 8% auto;
  width: 22%;
  height: 600px;
}

.login-box h2 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 15%;
  font-size: 5rem;
  margin: 0;
}

.login-form input {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  width: 16rem;
  height: 3rem;
  font-size: 1rem;
}

.login-box button {
  margin: auto;
  margin-top: 3.5rem;
  display: flex;
  height: 3rem;
  width: 10rem;
  background-color: lightcyan;
  border-radius: .5rem;
  box-shadow: inset 0 0 .5rem #0ff;

}

.login-box a {
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  width: 10rem;
  background-color: black;
  padding: 1rem;
  border-radius: .5rem;
}

/* ^^ Login pages ^^ */

/* vv layout page vv */

.main-container {
  width: 65%;
  margin: auto;
  border: .2rem solid black;
  text-align: center;
}

.layout-nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.layout-nav a {
  background-color: #00a3e187;
  padding: 1rem;
  border: .1rem solid black;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.layout-nav a:hover , button:hover {
  color: rgba(255, 255, 0, 0.611);
}

.layout-h1 {
  font-size: 3rem;
  margin-top: 0;
}

.browse-a, .browse-l {
  display: block;
  text-align: center;
  justify-content: center;
}

.browse-img {
  height: 100px;
  width: 150px;
}

.browse-wrapper {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-gap: 1rem;
  width: 65%;
  margin: auto;
  margin-top: 5rem;
}



/* mountain_new */

.mountain-form {
  border: .2rem solid black;
  width: 65%;
  margin: 2% auto auto auto;
  text-align: center;
}

.mountain-form h2 {
  font-size: 3rem;
  margin: 0 0 1rem 0;
  text-decoration: underline;
}

.mountain-form label {
  display: block;
  font-size: 1.3rem;
}

.mountain-form input {
  width: 16rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
  background-color: #00a3e163;
  border: #00a1e1fc;
  font-size: 1.5rem;
}

.top-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.top-wrapper div {
  text-align: center;
  margin-bottom:  1rem;
}

.bottom-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom:  1rem;
}

.sum-of-mt-input {
  height: 15rem;
  width: 40rem;
  background-color: #00a3e163;
  border: #00a1e1fc;
  margin-bottom:  1rem;
  font-size: 1.5rem;
}

.mountain-form button {
  height: 3rem;
  width: 10rem;
  background-color: #1eb56272;
  border-radius: .5rem;
  box-shadow: inset 0 0 .5rem #00a3e163;
  font-size: 1rem;
  margin: 2rem auto;
  border: #00a3e163;
}


.edit-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mt-main-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: .1rem;
  width: 65%;
  margin: 1% auto auto auto;
}

.mountain-view {
  border: .2rem solid black;
  /* width: 65%; */
  /* margin: 2% auto auto auto; */
  text-align: center;
  min-height: 700px;
}

.vote-btn-form {
  float: left;
  margin: 0;
}

.vote-btn {
  height: 2rem;
  background-color: #00a3e163;
  border-radius: .5rem;
  box-shadow: inset 0 0 .5rem #0ff;
  font-size: 1rem;
  border: #00a3e163;
  margin-right: .5rem;
}

.edit-mt-btn {
  float: right;
}

.mountain-view h2 {
  margin-top: 4%;
  font-size: 4rem;
  text-decoration: underline double rgba(255, 0, 0, 0.488);
}

.mt-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mt-sum {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
}

.mountain-view h3 {
  font-size: 2rem;
}

.comments-view {
  border: .2rem solid black;
  min-height: 80%;
}

.logout-btn {
  text-align: right;
}

.yt-vid {
  margin: 5% auto;
  display: flex;
}

.comment-submit-box {
  width: 100%;
  background-color: #00a3e163;
  border: #00a1e1fc;
  font-size: 1rem;
}

.comment-display {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}

/* credit to https://github.com/pajasevi/CSSnowflakes */


.snowflake {
  color: #fff;
  font-size: 1.5em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}